<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Hanz Karim Peña Hernandez y José Pablo Jiménez Mendoza

**Fecha:** 7 febrero 2023.

**Expediente** : 727232 y 733762
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: Link con el enlace del repositorio del creador del proyecto

# Tarea 2

In [7]:
import numpy as np
import time,math 
import matplotlib.pyplot as plt

### Ejercicio 1: (enunciado) Transcribirlo

Código de solución estudiante 1

1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`
           
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

### 1. Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

In [92]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

In [93]:
p = lambda x,y : x*y   #Funcion que multiplica los valores, y si el valor es menor a 100 se aumena 10 al valor.
def increase(value):
    if (value<100):
        value+= 10
    return value

x = list(map(increase,[p(orders[i][2],orders[i][3])for i in np.arange(len(orders))]))
result = list(map(lambda x,y : (x[0],y),orders,x))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

### 2. Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [1]:
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

In [2]:
import pandas as np
from functools import reduce

resultado = []
for order in orders:
    total = reduce(lambda x, y: x + y[1] * y[2], order[1:], 0)
    if total < 100:
        total += 10
    resultado.append([order[0], total])

print(resultado)

[[1, 678.3299999999999], [2, 494.46000000000004], [3, 364.79999999999995], [4, 492.57]]




### 3. Resolver los anteriores ejercicios usando pandas (DataFrame)

In [199]:
#### Ejercicio 1 en Pandas

In [200]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

In [201]:
import pandas as pd
columns = ['Order Number', 'Book Title and Author','Quantity','Price per Item']
df = pd.DataFrame(orders, columns=columns)
df

  Order Number               Book Title and Author  Quantity  Price per Item
0        34587          Learning Python, Mark Lutz         4           40.95
1        98762       Programming Python, Mark Lutz         5           56.80
2        77226       Head First Python, Paul Barry         3           32.95
3        88112  Einführung in Python3, Bernd Klein         3           24.99

In [202]:
df['total_price'] = df['Quantity'] * df['Price per Item']
df['total_price'] = df['total_price'].apply(lambda x: x + 10 if x < 100 else x)
df = df[['Order Number', 'total_price']]
result = df.values.tolist()
tuple_result = tuple(result)
tuple_result

(['34587', 163.8],
 ['98762', 284.0],
 ['77226', 108.85000000000001],
 ['88112', 84.97])

In [203]:
#### Ejercicio 2 en Pandas

In [204]:
import pandas as pd

# Create a DataFrame with a column containing tuples
data = orders_2
df = pd.DataFrame(data)
df

                                                col1
0  [1, (5464, 4, 9.99), (8274, 18, 12.99), (9744,...
1             [2, (5464, 9, 9.99), (9744, 9, 44.95)]
2           [3, (5464, 9, 9.99), (88112, 11, 24.99)]
3  [4, (8732, 7, 11.99), (7733, 11, 18.99), (8811...

### 4. Use filter to eliminate all words that are shorter than 4 letters from a list of words

In [9]:
### 4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
list_1=['the','notion','of','a','lambda','function','goes','all','the','way','back','to','the','origin','of','computer','science']
result = list(filter(lambda x: len(x)>= 4,list_1))
result

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

### 5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [10]:
########### Solución 4
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

In [11]:
def is_fahrenheit(temp):
    return 32 <= temp <= 80

fahrenheit_temps = list(filter(is_fahrenheit, temperatures)) #Filter usando nuestra funcion y temp

percentage = (len(fahrenheit_temps) / len(temperatures)) * 100  #Sacar porcentaje de fahrenheit en la lista

print("Percentage of Fahrenheit temperatures: {:.2f}%".format(percentage))

Percentage of Fahrenheit temperatures: 46.67%

### 6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [12]:
########### Solución 5
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

In [13]:
x, y = np.minimum.reduce(point_xy)

print("Minimum x value:", x)
print("Minimum y value:", y)

Minimum x value: 0
Minimum y value: 2